
/* Nav bar start */
.navbar
{
background-color: rgb(17, 0, 79);
padding: 10px 0px;
}   
.nav-item
{
padding: 0px 20px;
}

/* .nav-item:hover
{
    background-color: #fff;
} */
.nav-item:hover .nav-link
{
    color:#f5740a;
    
}
.navbar-brand
{
font-weight: 700 !important;
font-size: 30px;
}

/* Nav bar end */

/* Slider start */
.bg1
{
     background: linear-gradient(rgba(17, 0, 79,0.5),rgba(17, 0, 79,0.5)), url("Image/slider/image1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh);
    position: relative;
}
.bg2
{
     background: linear-gradient(rgba(17, 0, 79,0.5),rgba(17, 0, 79,0.5)), url("Image/slider/image2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh);
    position: relative;
}
.bg3
{
     background: linear-gradient(rgba(17, 0, 79,0.5),rgba(17, 0, 79,0.5)), url("Image/slider/image3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh);
    position: relative;
}
.mycaption
{
    color:#fff; 
    position: absolute;
    width: 40%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;

}

@media only screen and (max-width: 720px)
{
    .mycaption{
        width: 80%;
    }
}
.mycaption h1{
    text-align: center;
    font-size: 50px;
}
.mycaption p
{
    font-weight: 300;
    text-align: center;
}
.getstarted
{
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 20px;
}
.getstarted:hover
{
    background-color: #fff;
    color:rgb(17, 0, 79);
}
/* Slider end */
/* Start About */
section{
    padding: 50px 0px;
}
.mainheading{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    display: block;
}
.mainheading::before{
    content: "";
    width: 100px;
    background-color:#f5740a ;
    height: 3px;
    margin: 14px;
    display: inline-block;
}
.mainheading::after{
    content: "";
    width: 100px;
    background-color:#f5740a ;
    height: 3px;
    margin: 14px;
    display: inline-block;
}
.subheading
{
    text-align: center;
    display: block;
}
.about p,li{
line-height: 30px;
}
.about ul{
list-style-type: none;
padding: 0px;
margin: 0px;
}
.about i{
   padding-right: 10px;
   color: #fc9a07;
   font-size: 20px;
}
.aboutlearnmore{
    color:#f5740a;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #f5740a;
    display: inline-block;
     margin-top: 20px;
}
.aboutlearnmore:hover{
    color: #fff;
    background-color: #db810b;
    transition: 0.5s;

}
.social-link a
{

    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: hsl(0, 54%, 11%);
    background-color: #db810b;
    box-shadow: 0 2px 5px rgba(17, 0, 0,0.3);
    transition: all 0.4s ease;

}
.social-link a:hover{
    transform: translateY(2px);
}

.mycard{
    padding: 20px;
   box-shadow: 0px 0px 30px #cecece;
   text-align: center;
   margin-right: 40px;
  
}
.mycard i {
    font-size: 40px;
}
.mycard p {
    text-align: justify;
}
.counter {
    font-size: 30px;
    font-weight:bold;
    color:#767676;
}
/* End About */

/* help */
.help {
background-color: #11004f; 
color:#fff; 
text-align: center;
}
.help p{
    letter-spacing: 1px;
    font-weight: 100;
}
.help-phone
{
    font-size: 30px;
}
.help-phone i{
    color: #db810b;
}
/* End help */
/* Service */
.service-card {
    padding: 20px;
    border: solid #cecece;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;


}
.service-card i {
    color: #db810b;
}

.service-card a {
    text-decoration: none;
    color: #db810b;
}

.service-card a:hover {
    
    color: #db810b;
    letter-spacing: 2px;
    transition: 0.5s;
}
/* End Service */

/* Team */
.team {
    background-color: #fff;
}

.teamcard {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    
}

.teamcard img {

height: 100px;
width: 100px;
    border-radius: 50%;
   border: 3px solid #609ef0;
    object-fit: cover;
    margin-top: 10px;
  
}

.teamcard h3 {

    margin-top: 10px;
}

.teamcard p {
    color: #767676;

}

.teamcard:hover {
    box-shadow: 0px 0px 30px #cecece;
}
.socialmedia{
    height: 30px;
    width: 192px;
}

.socialmedia ul{
    
    position: absolute;
   
    margin-top: 5px;
    margin-left: 140px;
    transform: translate(-50%,-50%);
    display: flex;
   

    
}

.socialmedia ul li{
    list-style: none;
    align-items: center;
     margin: 0 5px;
     
    
}
.socialmedia ul li .bi{
    
   font-size: 20px;
   line-height: 30px;
   transition: .6s;
   color: #000;
   
    
}

.socialmedia ul li a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.socialmedia ul li a:hover {
    transform: translate(0,-10px);
}
.socialmedia ul li:nth-child(1) a:hover{
    background-color: #E4405F;
}
.socialmedia ul li:nth-child(2) a:hover{
    background-color: #0A66C2;
}
.socialmedia ul li:nth-child(3) a:hover{
    background-color: #1877F2;
}
.socialmedia ul li:nth-child(4) a:hover{
    background-color: #CD201F;
}


/* End Team */

/* Accordian FAQ */

.accordion-button {
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #767676;
}

.accordion-item {
    margin-top: 20px;
    
}
.faqs p {
    line-height: 25px;
    text-align: justify;

}
/* End Accrodian FAQ */

/* Start Gallery */
.gallery {
    background-color:#f9f8fa;
}
.tab-content {
    background-color: #fff;
    padding: 50px;
}
nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #11004f;
    color: #fff;
}
.nav-tabs .nav-link {
    color: #333333;
}
.nav-tabs img
{
    margin: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #1877F2;
}
/* End Gallery */